@model DACManager.Models.Permission

@{
	ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
	<h4>Permission</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			<input type="hidden" asp-for="Id" />
		</dt>
		<dt>
			@Html.DisplayNameFor(model => model.Actors)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Actors)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Movies)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Movies)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Categories)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Categories)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Customers)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Customers)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Inventories)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Inventories)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Languages)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Languages)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Payments)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Payments)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Permissions)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Permissions)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Rentals)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Rentals)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Staff)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Staff)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Stores)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Stores)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.CanTakeOver)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.CanTakeOver)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.CanCreateUsers)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.CanCreateUsers)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.CanViewPermissions)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.CanViewPermissions)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.LastUpdate)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.LastUpdate)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.User)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.User.Id)
		</dd>
	</dl>

	<form asp-action="Delete">
		<div class="form-actions no-color">
			<input type="submit" value="Delete" class="btn btn-default" /> |
			<a asp-action="Index">Back to List</a>
		</div>
	</form>
</div>
